.pageLayout {
  min-height: 100vh;
}

.pageMain {
  margin: 24px 16px;
  padding: 24px;
}

.pageContent {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 205px);
}

.header,
.footer{
  text-align: center;
  padding: 15px;
}
